Repository lsendel/rust-security, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/engineering-leads, @your-org/rust-reviewers, @your-org/devops, @your-org/platform, @your-org/docs, @your-org/security

.github/CODEOWNERS:

# Code ownership and default reviewers
# Syntax: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
*       @your-org/engineering-leads

# Rust code
*.rs    @your-org/rust-reviewers
/src/   @your-org/rust-reviewers
/auth-service/ @your-org/rust-reviewers
/policy-service/ @your-org/rust-reviewers

# GitHub workflows
/.github/workflows/ @your-org/devops

# Helm charts and k8s manifests
/helm/  @your-org/platform
/k8s/   @your-org/platform

# Documentation
/docs/  @your-org/docs
*.md    @your-org/docs

# Security policies and supply-chain
SECURITY.md @your-org/security
supply-chain-security.yml @your-org/security
/.github/workflows/supply-chain-security.yml @your-org/security

Added recomended fixes
  Cargo.lock
  Cargo.toml
  auth-service/Cargo.toml
  auth-service/src/lib.rs
  auth-service/src/oidc_github.rs
  auth-service/src/oidc_google.rs
  auth-service/src/oidc_microsoft.rs
  auth-service/src/property_testing_framework.rs
  auth-service/src/soar_executors/notification.rs
  auth-service/src/threat_behavioral_analyzer.rs
  auth-service/src/threat_user_profiler.rs
  auth-service/src/tracing_config.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Updated dependencies and configurations in Cargo.toml for improved compatibility and performance
  Cargo.toml
  auth-service/Cargo.toml
  red-team-exercises/Cargo.toml
  rust-toolchain.toml
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Updated dependencies and configurations in Cargo.toml for improved compatibility and performance
  Cargo.lock
Owners: @your-org/engineering-leads

Updated dependencies and configurations in Cargo.toml for improved compatibility and performance
  Cargo.toml
Owners: @your-org/engineering-leads

Updated dependencies and configurations in Cargo.toml for improved compatibility and performance
  .github/workflows/qodana_code_quality.yml
  Cargo.lock
  Cargo.toml
  DEPLOYMENT_READINESS_CHECKLIST.md
  IMPLEMENTATION_GUIDE.md
  OPTIMIZATION_OPPORTUNITIES.md
  PRODUCTION_SECURITY_CHECKLIST.md
  QUICK_REFERENCE_CARD.md
  SECURITY_CONFIGURATION_GUIDE.md
  auth-service/Cargo.toml
  auth-service/src/lib.rs
  auth-service/src/main.rs
  auth-service/src/security.rs
  auth-service/src/validation.rs
  deny.toml
  examples/SECURITY_BEST_PRACTICES.md
  examples/axum-integration-example/Cargo.toml
  examples/axum-integration-example/src/auth.rs
  examples/axum-integration-example/src/lib.rs
  examples/axum-integration-example/src/main.rs
  examples/axum-integration-example/src/repository.rs
  examples/simple-auth-client/src/main.rs
  input-validation/src/fuzzing.rs
  input-validation/src/parsers.rs
  red-team-exercises/Cargo.lock
  red-team-exercises/Cargo.toml
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/docs, @your-org/rust-reviewers

Updated dependencies and configurations in Cargo.toml for improved compatibility and performance
  COMPILER_WARNING_ELIMINATION_COMPLETED.md
  Cargo.lock
  Cargo.toml
  auth-service/src/business_metrics.rs
  auth-service/src/crypto_optimized.rs
  auth-service/src/enhanced_observability.rs
  auth-service/src/errors/mod.rs
  auth-service/src/lib.rs
  auth-service/src/observability.rs
  auth-service/src/observability_init.rs
  auth-service/src/policy_cache.rs
  auth-service/src/pq_integration.rs
  auth-service/src/pq_jwt.rs
  auth-service/src/quantum_jwt.rs
  auth-service/src/rate_limit_optimized.rs
  auth-service/src/scim.rs
  auth-service/src/session_cleanup.rs
  auth-service/src/session_manager.rs
  auth-service/src/store_optimized.rs
  auth-service/src/tls_security.rs
  auth-service/src/tracing_config.rs
  auth-service/src/tracing_instrumentation.rs
  examples/axum-integration-example/Cargo.toml
  rust-toolchain.toml
Owners: @your-org/docs, @your-org/engineering-leads, @your-org/rust-reviewers

Updated dependencies and configurations in Cargo.toml for improved compatibility and performance
  .githooks/pre-commit
  Cargo.lock
  Cargo.toml
  api-contracts/Cargo.toml
  auth-service/src/admin_middleware.rs
  auth-service/src/circuit_breaker_advanced.rs
  auth-service/src/connection_pool_optimized.rs
  auth-service/src/crypto_optimized.rs
  auth-service/src/csrf_protection.rs
  auth-service/src/database_optimized.rs
  auth-service/src/fraud_detection.rs
  auth-service/src/keys_optimized.rs
  auth-service/src/keys_ring.rs
  auth-service/src/lib.rs
  auth-service/src/lib/app.rs
  auth-service/src/observability.rs
  auth-service/src/observability_advanced.rs
  auth-service/src/post_quantum_crypto.rs
  auth-service/src/pq_integration.rs
  auth-service/src/pq_migration.rs
  auth-service/src/store.rs
  auth-service/src/tls_security.rs
  auth-service/src/tracing_config.rs
  auth-service/src/tracing_instrumentation.rs
  security-testing/e2e-tests/security_e2e_suite.rs
  tests/phase1_security_tests.rs
  tests/phase2_operational_tests.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Refactor integration tests for improved clarity and consistency; enhance error handling in token generation and add automated warning-free maintenance script
  .claude/mcp-config.json
  .github/workflows/warning-check.yml
  auth-service/src/cache.rs
  auth-service/src/lib.rs
  auth-service/src/pq_integration.rs
  docs/WARNING_FREE_MAINTENANCE.md
  scripts/maintain-warning-free.sh
  tests/integration_tests.rs
Owners: @your-org/engineering-leads, @your-org/devops, @your-org/rust-reviewers, @your-org/docs

Refactor integration tests for improved clarity and consistency; enhance error handling in token generation and add automated warning-free maintenance script
  auth-service/src/database_optimized.rs
  common/Cargo.toml
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

Refactor integration tests for improved clarity and consistency; enhance error handling in token generation and add automated warning-free maintenance script
  Cargo.lock
  auth-core/Cargo.toml
  auth-service/Cargo.toml
  auth-service/src/api_versioning.rs
  auth-service/src/async_optimized.rs
  auth-service/src/cache.rs
  auth-service/src/circuit_breaker_advanced.rs
  compliance-tools/Cargo.toml
  examples/axum-integration-example/Cargo.toml
  policy-service/Cargo.toml
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Refactor integration tests for improved clarity and consistency; enhance error handling in token generation and add automated warning-free maintenance script
  DEPLOYMENT_GUIDE.md
  api-contracts/Cargo.toml
  auth-service/src/ai_threat_detection_advanced.rs
  auth-service/src/store.rs
Owners: @your-org/docs, @your-org/engineering-leads, @your-org/rust-reviewers

Fix GitHub Actions security audit workflow issues
  .github/workflows/security-audit.yml
  Cargo.toml
  README.md
  SECURITY_MAINTENANCE.md
  auth-service/src/admin_middleware.rs
  auth-service/src/circuit_breaker_advanced.rs
  auth-service/src/connection_pool_optimized.rs
  auth-service/src/database_optimized.rs
  auth-service/src/enhanced_observability.rs
  auth-service/src/fraud_detection.rs
  auth-service/src/health_check.rs
  auth-service/src/observability.rs
  auth-service/src/store.rs
  deny.toml
  examples/axum-integration-example/src/lib.rs
  examples/axum-integration-example/src/main.rs
  scripts/validate-warning-free.sh
  tests/integration/warning_validation.rs
  tests/warning_free_integration_test.rs
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/docs, @your-org/rust-reviewers

Implement chunking for operations in async_optimized.rs and add security scanning workflow
  .github/workflows/security-scan.yml
  auth-service/src/async_optimized.rs
Owners: @your-org/devops, @your-org/rust-reviewers

Implement chunking for operations in async_optimized.rs and add security scanning workflow
  auth-service/src/health_check.rs
Owners: @your-org/rust-reviewers

Fix cargo-deny check for Rust edition 2024 compatibility
  .github/workflows/security-audit.yml
  Cargo.toml
  auth-service/src/async_optimized.rs
  auth-service/src/circuit_breaker_advanced.rs
  auth-service/src/store.rs
  scripts/fix-security-issues.sh
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/rust-reviewers

🔒 Implement comprehensive security scanning infrastructure
  scripts/security-test.sh
Owners: @your-org/engineering-leads

🔒 Mitigate RSA vulnerability through risk acceptance and documentation
  Cargo.toml
  deny.toml
Owners: @your-org/engineering-leads

Fix Advanced Supply Chain Security workflow issues
  .github/workflows/security.yml
Owners: @your-org/devops

Enhance security in business metrics module
  auth-service/src/business_metrics.rs
Owners: @your-org/rust-reviewers

Implement comprehensive business metrics improvements
  auth-service/src/business_metrics.rs
Owners: @your-org/rust-reviewers

Fix UserRole import in example repository module
  examples/axum-integration-example/src/repository.rs
Owners: @your-org/rust-reviewers

🔧 Fix compilation errors in auth-service module
  auth-service/src/business_metrics.rs
  auth-service/src/post_quantum_crypto.rs
  auth-service/src/property_testing_framework.rs
  auth-service/src/security_logging.rs
Owners: @your-org/rust-reviewers

Optimize
  PHASE4_PRODUCTION_VALIDATION.md
  PHASE4_PRODUCTION_VALIDATION_COMPLETE.md
  ULTIMATE_OPTIMIZATION_JOURNEY_COMPLETE.md
  auth-service/Cargo.toml
  auth-service/src/app.rs
  auth-service/src/async_optimized.rs
  auth-service/src/auth_api.rs
  auth-service/src/enhanced_observability.rs
  auth-service/src/health_check.rs
  auth-service/src/lib/core.rs
  auth-service/src/policy_cache.rs
  auth-service/src/security_fixed.rs
  auth-service/src/tracing_config.rs
  auth-service/src/validation_secure.rs
  auth-service/tests/authorization_it.rs
  auth-service/tests/scope_validation_test.rs
  auth-service/tests/test_utils.rs
  auth-service/tests/token_binding_it.rs
  auth-service/tests/totp_it.rs
  common/src/automated_monitoring.rs
  common/src/chaos_engineering.rs
  common/src/production_load_testing.rs
  deploy_phase4_production.sh
  phase4_deployment_simulation.sh
  test_phase4_validation.sh
Owners: @your-org/docs, @your-org/rust-reviewers, @your-org/engineering-leads

Fix GitHub Actions security workflow failures
  .github/workflows/security.yml
Owners: @your-org/devops

Fix
  Cargo.lock
  Cargo.toml
  auth-service/Cargo.toml
  auth-service/src/config.rs
  auth-service/src/config_old/mod.rs
  auth-service/src/main.rs
  policy-service/Cargo.toml
  policy-service/src/config.rs
  policy-service/src/documentation.rs
  policy-service/src/errors.rs
  policy-service/src/lib.rs
  policy-service/src/main.rs
  security-features/Cargo.toml
  security-features/src/lib.rs
  soar-integration/Cargo.toml
  soar-integration/src/lib.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Add comprehensive platform documentation
  api-specs/complete-platform.openapi.yaml
  docs/API_DOCUMENTATION.md
  docs/DEVELOPER_ONBOARDING.md
  docs/INTEGRATION_GUIDE.md
  docs/INTEGRATION_PATTERNS.md
  docs/OPERATIONS_RUNBOOK.md
  docs/PRODUCTION_DEPLOYMENT.md
  docs/SDK_INTEGRATION_GUIDE.md
  docs/SECURITY_HARDENING.md
  docs/SOAR_THREAT_DETECTION_API.md
Owners: @your-org/engineering-leads, @your-org/docs

Update comprehensive platform documentation
  docs/INTEGRATION_GUIDE.md
  docs/OPERATIONS_RUNBOOK.md
  docs/PRODUCTION_DEPLOYMENT.md
  docs/QUICK_START_GUIDE.md
  docs/SECURITY_HARDENING.md
  docs/TROUBLESHOOTING_COMPLETE.md
  docs/api/README.md
Owners: @your-org/docs

Fix all benchmark file compilation errors
  auth-service/benches/optimization_benchmarks.rs
  auth-service/benches/performance_suite.rs
  auth-service/benches/security_performance_bench.rs
Owners: @your-org/rust-reviewers

Add Fixed
  policy-service/tests/error_mapping_test.rs
Owners: @your-org/rust-reviewers

Add Fixed
  auth-service/src/lib.rs
  auth-service/src/metrics.rs
  auth-service/src/observability_init.rs
  auth-service/src/security_monitoring.rs
  auth-service/src/threat_user_profiler/features/extractor.rs
  auth-service/src/threat_user_profiler/profiler.rs
  auth-service/src/threat_user_profiler/time_series/analyzer.rs
  auth-service/src/tracing_config.rs
  auth-service/tests/admin_protection_it.rs
  auth-service/tests/api_key_management_it.rs
  auth-service/tests/authorization_it.rs
  auth-service/tests/comprehensive_integration_test.rs
  auth-service/tests/health_introspect_it.rs
  auth-service/tests/oidc_state_it.rs
  auth-service/tests/openid_metadata_it.rs
  auth-service/tests/pkce_oauth_test.rs
  auth-service/tests/refresh_reuse_it.rs
  auth-service/tests/request_id_it.rs
  auth-service/tests/scim_basic_auth_it.rs
  auth-service/tests/scim_it.rs
  auth-service/tests/scope_validation_test.rs
  auth-service/tests/security_features_test.rs
  auth-service/tests/security_test.rs
  auth-service/tests/step_up_it.rs
  auth-service/tests/test_utils.rs
  auth-service/tests/token_basic_auth_it.rs
  auth-service/tests/token_binding_it.rs
  auth-service/tests/token_flow_it.rs
  auth-service/tests/token_refresh_it.rs
  auth-service/tests/totp_it.rs
Owners: @your-org/rust-reviewers

Add Fixed
  Cargo.lock
  auth-service/Cargo.toml
  auth-service/src/lib.rs
  auth-service/src/security_monitoring.rs
  auth-service/src/threat_hunting_orchestrator.rs
  auth-service/src/threat_intelligence.rs
  auth-service/src/threat_types.rs
  auth-service/src/threat_user_profiler/config.rs
  auth-service/src/threat_user_profiler/features/activity.rs
  auth-service/src/threat_user_profiler/features/device.rs
  auth-service/src/threat_user_profiler/features/extractor.rs
  auth-service/src/threat_user_profiler/features/location.rs
  auth-service/src/threat_user_profiler/features/network.rs
  auth-service/src/threat_user_profiler/features/temporal.rs
  auth-service/src/threat_user_profiler/ml_models/manager.rs
  auth-service/src/threat_user_profiler/profiler.rs
  auth-service/src/threat_user_profiler/risk_assessment/engine.rs
  auth-service/src/threat_user_profiler/time_series/analyzer.rs
  auth-service/src/threat_user_profiler/time_series/forecasting.rs
  auth-service/src/threat_user_profiler/time_series/statistics.rs
  auth-service/src/threat_user_profiler/types.rs
  auth-service/src/tracing_config.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Add Fixed
  auth-service/src/auth_api.rs
  auth-service/src/backpressure.rs
  auth-service/src/client_auth.rs
  auth-service/src/core/auth.rs
  auth-service/src/core/crypto.rs
  auth-service/src/crypto_secure.rs
  auth-service/src/csrf_protection.rs
  auth-service/src/jwks_rotation.rs
  auth-service/src/jwt_secure.rs
  auth-service/src/keys.rs
  auth-service/src/lib.rs
  auth-service/src/metrics.rs
  auth-service/src/modules/code_review/mod.rs
  auth-service/src/optimized_client.rs
  auth-service/src/resilient_http.rs
  auth-service/src/secure_random.rs
  auth-service/src/security.rs
  auth-service/src/security_fixed.rs
  auth-service/src/security_metrics.rs
  auth-service/src/security_monitoring.rs
  auth-service/src/session_secure.rs
  auth-service/src/threat_hunting_orchestrator.rs
  auth-service/src/threat_intelligence.rs
  auth-service/src/threat_types.rs
  auth-service/src/threat_user_profiler/features/extractor.rs
  auth-service/src/threat_user_profiler/ml_models/manager.rs
  auth-service/src/threat_user_profiler/profiler.rs
  auth-service/src/threat_user_profiler/risk_assessment/engine.rs
  auth-service/src/tracing_config.rs
Owners: @your-org/rust-reviewers

Add Fixed
  docs/API_DOCUMENTATION.md
  docs/DEPLOYMENT_GUIDE.md
  docs/SECURITY.md
Owners: @your-org/docs, @your-org/security

FIx in theory
  .claude/settings.local.json
  auth-service/src/backpressure.rs
  auth-service/src/threat_attack_patterns.rs
  auth-service/src/threat_behavioral_analyzer.rs
  auth-service/src/threat_hunting_orchestrator.rs
  auth-service/src/threat_intelligence.rs
  auth-service/src/threat_response_orchestrator.rs
  auth-service/src/threat_user_profiler/features/activity.rs
  auth-service/src/threat_user_profiler/features/device.rs
  auth-service/src/threat_user_profiler/features/location.rs
  auth-service/src/threat_user_profiler/features/temporal.rs
  auth-service/src/threat_user_profiler/profiler.rs
  auth-service/src/threat_user_profiler/time_series/analyzer.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Refactor constructors to use #[must_use] and const fn where applicable
  auth-service/src/auth_api.rs
  auth-service/src/auth_service_integration.rs
  auth-service/src/backpressure.rs
  auth-service/src/core/security.rs
  auth-service/src/errors/mod.rs
  auth-service/src/event_conversion.rs
  auth-service/src/metrics.rs
  auth-service/src/observability_init.rs
  auth-service/src/policy_cache.rs
  auth-service/src/security_metrics.rs
  auth-service/src/session_store.rs
  auth-service/src/threat_attack_patterns.rs
  auth-service/src/threat_behavioral_analyzer.rs
  auth-service/src/threat_hunting_orchestrator.rs
  auth-service/src/threat_intelligence.rs
  auth-service/src/threat_processor.rs
  auth-service/src/threat_response_orchestrator.rs
  auth-service/src/threat_types.rs
  auth-service/src/threat_user_profiler/config.rs
  auth-service/src/threat_user_profiler/features/activity.rs
  auth-service/src/threat_user_profiler/features/device.rs
  auth-service/src/threat_user_profiler/features/extractor.rs
  auth-service/src/threat_user_profiler/features/location.rs
  auth-service/src/threat_user_profiler/features/network.rs
  auth-service/src/threat_user_profiler/features/temporal.rs
  auth-service/src/threat_user_profiler/ml_models/anomaly_detection.rs
  auth-service/src/threat_user_profiler/ml_models/clustering.rs
  auth-service/src/threat_user_profiler/ml_models/manager.rs
  auth-service/src/threat_user_profiler/profiler.rs
  auth-service/src/threat_user_profiler/risk_assessment/engine.rs
  auth-service/src/threat_user_profiler/risk_assessment/peer_analysis.rs
  auth-service/src/threat_user_profiler/risk_assessment/scoring.rs
  auth-service/src/threat_user_profiler/time_series/analyzer.rs
  auth-service/src/threat_user_profiler/time_series/forecasting.rs
  auth-service/src/threat_user_profiler/time_series/statistics.rs
  auth-service/src/threat_user_profiler/types.rs
  auth-service/src/tracing_config.rs
Owners: @your-org/rust-reviewers

Enhance security policies for OAuth client registration and improve code structure
  .github/workflows/comprehensive-testing.yml
  PROJECT_IMPROVEMENT_PLAN.md
  auth-service/src/auth_api.rs
  auth-service/src/crypto_unified.rs
  auth-service/src/errors/mod.rs
  auth-service/src/event_conversion.rs
  auth-service/src/graceful_shutdown.rs
  auth-service/src/jwks_rotation.rs
  auth-service/src/jwt_secure.rs
  auth-service/src/keys.rs
  auth-service/src/lib.rs
  auth-service/src/metrics.rs
  auth-service/src/oauth_policies/mod.rs
  auth-service/src/oauth_policies/security.rs
  auth-service/src/policy_cache.rs
  auth-service/src/production_logging.rs
  auth-service/src/security.rs
  auth-service/src/security_logging.rs
  auth-service/src/security_monitoring.rs
  auth-service/src/soar_core/correlation.rs
  auth-service/src/soar_core/engine.rs
  auth-service/src/soar_core/integration.rs
  auth-service/src/soar_core/response.rs
  auth-service/src/soar_core/workflow.rs
  auth-service/src/soar_workflow.rs
  auth-service/src/store.rs
  auth-service/src/threat_adapter.rs
  auth-service/src/threat_behavioral_analyzer.rs
  auth-service/src/threat_processor.rs
  auth-service/src/threat_response_orchestrator.rs
  auth-service/src/threat_user_profiler/config.rs
  auth-service/src/threat_user_profiler/time_series/analyzer.rs
  common/tests/config_validation.rs
  docs/API_EXAMPLES_GUIDE.md
  docs/INTEGRATION_TESTING_GUIDE.md
  docs/MAINTENANCE_PROCEDURES.md
Owners: @your-org/devops, @your-org/docs, @your-org/rust-reviewers

Refactor code for improved readability and maintainability; enhance security features and testing infrastructure
  auth-service/src/storage/cache/basic_cache.rs
  auth-service/src/storage/cache/mod.rs
  auth-service/tests/admin_protection_it.rs
  auth-service/tests/api_key_management_it.rs
  auth-service/tests/authorization_it.rs
  auth-service/tests/comprehensive_integration_test.rs
  auth-service/tests/health_introspect_it.rs
  auth-service/tests/oidc_state_it.rs
  auth-service/tests/openid_metadata_it.rs
  auth-service/tests/performance_test_suite.rs
  auth-service/tests/pkce_oauth_test.rs
  auth-service/tests/refresh_reuse_it.rs
  auth-service/tests/request_id_it.rs
  auth-service/tests/scim_basic_auth_it.rs
  auth-service/tests/scim_it.rs
  auth-service/tests/scope_validation_test.rs
  auth-service/tests/security_features_test.rs
  auth-service/tests/security_test.rs
  auth-service/tests/soar_integration_test.rs
  auth-service/tests/step_up_it.rs
  auth-service/tests/test_utils.rs
  auth-service/tests/token_basic_auth_it.rs
  auth-service/tests/token_binding_it.rs
  auth-service/tests/token_flow_it.rs
  auth-service/tests/token_refresh_it.rs
  auth-service/tests/totp_it.rs
Owners: @your-org/rust-reviewers

Refactor imports and enhance documentation across multiple files; improve session cleanup logging and error handling
  auth-service/fuzz/fuzz_targets/fuzz_jwt_parsing.rs
  auth-service/tests/integration/oauth_flow_tests.rs
Owners: @your-org/rust-reviewers

Refactor error handling and validation logic; improve JWT secret management and enhance user operations
  CLEAN_CODE_IMPLEMENTATION_PLAN.md
  auth-service/src/app.rs
  auth-service/src/auth_api.rs
  auth-service/src/config_secure.rs
  auth-service/src/error_conversion_macro.rs
  auth-service/src/lib.rs
  auth-service/src/modules/performance/advanced_optimizations.rs
  auth-service/src/scim.rs
  auth-service/src/soar_case_management.rs
  auth-service/src/threat_processor.rs
  auth-service/src/validation.rs
  auth-service/src/validation_framework.rs
  auth-service/tests/integration/admin_protection_test.rs
Owners: @your-org/docs, @your-org/rust-reviewers

Refactor policy violation handling; unify result variable usage for improved clarity
  auth-service/src/admin_middleware.rs
  auth-service/src/oauth_client_registration_policies.rs
Owners: @your-org/rust-reviewers
