Repository lsendel/rust-security, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/engineering-leads, @your-org/rust-reviewers, @your-org/devops, @your-org/platform, @your-org/docs, @your-org/security

Final code formatting and security hardening cleanup
  auth-service/src/circuit_breaker.rs
  auth-service/src/config.rs
  auth-service/src/scim_filter.rs
  auth-service/src/security_headers.rs
  auth-service/src/security_metrics.rs
Owners: @your-org/rust-reviewers

Add security documentation and monitoring tools
  SECURITY_IMPROVEMENTS.md
  scripts/check-security-status.sh
Owners: @your-org/docs, @your-org/engineering-leads

Fix worflow
  .github/workflows/rust-ci.yml.bak
  Cargo.toml.backup
  auth-service/src/lib.rs.bak
  auth-service/src/security_headers.rs.backup
  auth-service/src/security_headers.rs.bak
  auth-service/src/security_metrics.rs.bak
  auth-service/src/validation.rs.backup
  auth-service/src/validation.rs.bak
  docs/PROJECT_ANALYSIS.md
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/rust-reviewers, @your-org/docs

feat: implement comprehensive security modules for OAuth 2.0 platform
  Cargo.lock
  Cargo.toml
  auth-service/Cargo.toml
  auth-service/src/admin_middleware.rs
  auth-service/src/admin_replay_protection.rs
  auth-service/src/jwks_rotation.rs
  auth-service/src/lib.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

feat: complete JWKS rotation manager integration with OAuth 2.0 platform
  auth-service/src/jwks_rotation.rs
  auth-service/src/lib.rs
Owners: @your-org/rust-reviewers

feat: enhance Redis session storage with chaos engineering resilience
  auth-service/src/session_store.rs
Owners: @your-org/rust-reviewers

Fix compilation and clippy errors for CI pipeline
  auth-service/src/admin_replay_protection.rs
  auth-service/src/jwks_rotation.rs
  auth-service/src/session_store.rs
  policy-service/src/lib.rs
  policy-service/src/metrics.rs
Owners: @your-org/rust-reviewers

Fix policy service clippy warnings
  policy-service/src/lib.rs
  policy-service/src/metrics.rs
Owners: @your-org/rust-reviewers

Consolidate crypto libraries - Phase 1: Unified symmetric encryption
  auth-service/src/crypto_unified.rs
  auth-service/src/lib.rs
  auth-service/src/mfa/crypto.rs
Owners: @your-org/rust-reviewers

Consolidate crypto libraries - Phase 2: Unified HMAC operations
  auth-service/src/admin_replay_protection.rs
  auth-service/src/crypto_unified.rs
  auth-service/src/mfa/totp_enhanced.rs
Owners: @your-org/rust-reviewers

Implement enterprise secrets management system
  auth-service/Cargo.toml
  auth-service/src/lib.rs
  auth-service/src/secrets_manager.rs
Owners: @your-org/rust-reviewers

Fix worflow
  Cargo.lock
  Cargo.toml
  policy-service/Cargo.toml
  policy-service/src/lib.rs
  policy-service/tests/integration_tests.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

fix: resolve GitHub Actions workflows and compilation issues
  .github/workflows/ci.yml
  .github/workflows/security-audit.yml
  auth-service/Cargo.toml
  auth-service/src/admin_replay_protection.rs
  auth-service/src/api_key_store.rs
  auth-service/src/jwks_rotation.rs
  auth-service/src/secrets_manager.rs
  auth-service/src/session_store.rs
  common/Cargo.toml
  deny.toml
  policy-service/Cargo.toml
Owners: @your-org/devops, @your-org/rust-reviewers, @your-org/engineering-leads

Fix worflow
  .github/workflows/e2e-tests.yml
  .github/workflows/security-audit.yml
  auth-service/OBSERVABILITY.md
  auth-service/src/enhanced_jwt_validation.rs
  auth-service/src/enhanced_observability.rs
  auth-service/src/lib.rs
  auth-service/src/observability_init.rs
  auth-service/tests/oidc_state_it.rs
Owners: @your-org/devops, @your-org/docs, @your-org/rust-reviewers

fix: resolve final compilation issues and enhance platform validation
  auth-service/src/config_endpoints.rs
  auth-service/src/crypto_unified.rs
  auth-service/src/session_store.rs
  scripts/validate-build-and-start.sh
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

fix: resolve all GitHub Actions workflow security and configuration issues
  .github/workflows/auth-core-tests.yml
  .github/workflows/auto-format.yml
  .github/workflows/chaos-engineering.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/comprehensive-testing-pipeline.yml
  .github/workflows/comprehensive-tests.yml
  .github/workflows/dependency-check.yml
  .github/workflows/dependency-update.yml
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-pr-review.yml
  .github/workflows/qodana_code_quality.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
  .github/workflows/simple-ci.yml
Owners: @your-org/devops

fix: pin download-artifact action to commit SHA for supply chain security
  .github/workflows/ci.yml
Owners: @your-org/devops

Add Security Fixes
  .github/workflows/ci-cd-pipeline.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/comprehensive-testing-pipeline.yml.disabled
  .gitignore
  CONFIG_MIGRATION.md
  LINKER_FIX_SUCCESS.md
  RUST_ISSUES_FIX_PLAN.md
  ULTRA_SECURITY_ENHANCEMENT_PLAN.md
  auth-core/tests/integration_security.rs
  auth-core/tests/oauth2_compliance.rs
  auth-service/src/config_migration.rs
  auth-service/src/config_secure.rs
  auth-service/src/config_static.rs
  auth-service/src/config_tests.rs
  auth-service/src/jwt_secure.rs
  auth-service/src/quantum_jwt.rs
  auth-service/src/rate_limit_secure.rs
  auth-service/src/security_fixed.rs
  auth-service/src/security_tests.rs
  auth-service/src/session_secure.rs
  auth-service/src/validation_secure.rs
  auth-service/src/zero_trust_auth.rs
  helm/rust-security-platform/Chart.yaml
  helm/rust-security-platform/values.yaml
  red-team-exercises/security-dashboard/tsconfig.json
  scripts/cleanup-unused-deps.sh
  scripts/compliance/nist-800-53-check.py
  scripts/dependency-cleanup.sh
  scripts/feature-optimization.md
  scripts/fix-all-rust-issues.sh
  scripts/fix-compilation-issues.sh
  scripts/fix-formatting-clippy.sh
  scripts/fix-security-issues.sh
  scripts/migrate-config.sh
  scripts/multi-tenant/tenant-manager.sh
  scripts/optimize-performance.sh
  scripts/performance/analyze_results.py
  scripts/performance/validate-baselines.sh
  scripts/workflow-status.sh
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/docs, @your-org/rust-reviewers, @your-org/platform

Add Security Fixes
  .github/workflows/main-ci.yml
  .github/workflows/security-focused.yml
  Dockerfile
  k8s/auth-service-deployment.yaml
  monitoring/grafana-dashboard.json
  scripts/dependency-maintenance.sh
  scripts/deploy-production.sh
  scripts/setup-testing.sh
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/platform

Add Security Fixes
  Cargo.lock
  SECURITY_SCORE_ENHANCEMENT_COMPLETE.md
  auth-core/Cargo.toml
  auth-core/tests/integration_security.rs
  auth-core/tests/oauth2_compliance.rs
  auth-service/src/ai_threat_detection.rs
Owners: @your-org/engineering-leads, @your-org/docs, @your-org/rust-reviewers

Add basic working CI pipeline
  .github/workflows/basic-ci.yml
  .github/workflows/ci.yml
  .github/workflows/ci.yml.disabled
  auth-service/src/errors.rs
Owners: @your-org/devops, @your-org/rust-reviewers

Add CI status check script and fix formatting
  api-contracts/src/lib.rs
  api-contracts/src/middleware.rs
  auth-core/src/server.rs
  auth-core/tests/integration_security.rs
  auth-core/tests/oauth2_compliance.rs
  auth-service/src/errors.rs
  auth-service/src/security.rs
  scripts/check-ci-status.sh
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

Enhance CI pipeline with security scanning and roadmap
  .github/workflows/basic-ci.yml
  CODE_IMPROVEMENT_PLAN.md
  IMPROVEMENT_CHECKLIST.md
  RUST_STANDARDS_AND_CLEAN_CODE_ANALYSIS.md
  auth-core/src/server.rs
  auth-core/tests/oauth2_compliance.rs
  auth-service/src/ai_threat_detection.rs
  auth-service/src/config_secure.rs
  auth-service/src/errors.rs
  auth-service/src/jwt_secure.rs
  auth-service/src/lib.rs
  auth-service/src/quantum_jwt.rs
  auth-service/src/rate_limit_secure.rs
  auth-service/src/security.rs
  auth-service/src/security_tests.rs
  auth-service/src/session_secure.rs
  auth-service/src/validation_secure.rs
  auth-service/src/zero_trust_auth.rs
  docs/CI_IMPROVEMENT_ROADMAP.md
  justfile
  scripts/fix-compilation-errors.sh
  scripts/refactor-large-files.sh
Owners: @your-org/devops, @your-org/docs, @your-org/rust-reviewers, @your-org/engineering-leads

WIP: Significant progress on auth-service compilation fixes
  auth-service/src/ai_threat_detection.rs
  auth-service/src/config_secure.rs
  auth-service/src/errors.rs
  auth-service/src/jwt_secure.rs
  auth-service/src/lib.rs
  auth-service/src/session_secure.rs
  scripts/fix-auth-service.sh
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

Add focused auth-service fix plan
  docs/AUTH_SERVICE_FIX_PLAN.md
Owners: @your-org/docs

Add Security Fixes
  auth-core/src/server.rs
  auth-service/src/ai_threat_detection.rs
  auth-service/src/config_secure.rs
  auth-service/src/errors.rs
  auth-service/src/lib.rs
  auth-service/src/validation_secure.rs
  auth-service/src/zero_trust_auth.rs
  scripts/fix-auth-service-systematic.sh
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

Major progress on auth-service compilation fixes
  auth-core/tests/integration_security.rs
  auth-core/tests/oauth2_compliance.rs
  auth-service/src/ai_threat_detection.rs
  auth-service/src/config_secure.rs
  auth-service/src/errors.rs
  auth-service/src/lib.rs
  auth-service/src/lib.rs.new
  auth-service/src/security_tests.rs
  auth-service/src/session_secure.rs
  auth-service/src/soar/case_management/manager.rs
  auth-service/src/soar/case_management/mod.rs
  auth-service/src/soar/case_management/types.rs
  auth-service/src/soar/core/mod.rs
  auth-service/src/soar/executors/mod.rs
  auth-service/src/soar/mod.rs
  auth-service/src/soar/workflow/mod.rs
  scripts/fix-auth-service-final.sh
  scripts/fix-auth-service-phase2.sh
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

🎉 INCREDIBLE BREAKTHROUGH: auth-service NOW COMPILES!
  .github/workflows/basic-ci.yml
  auth-core/tests/integration_security.rs
  auth-core/tests/oauth2_compliance.rs
  auth-service/src/ai_threat_detection.rs
  auth-service/src/config_secure.rs
  auth-service/src/lib.rs
  auth-service/src/security_tests.rs
  auth-service/src/session_secure.rs
  auth-service/src/soar/case_management/analytics.rs
  auth-service/src/soar/case_management/storage.rs
  fix_is_err.py
  scripts/check-ci-status.sh
Owners: @your-org/devops, @your-org/rust-reviewers, @your-org/engineering-leads

Update status checker to reflect auth-service success
  scripts/check-ci-status.sh
Owners: @your-org/engineering-leads

🎉 COMPLETE PLATFORM SUCCESS + ENTERPRISE CI/CD!
  .env.development
  .github/workflows/advanced-ci.yml
  .github/workflows/basic-ci.yml
  .github/workflows/deployment.yml
  api-contracts/src/documentation.rs
  api-contracts/src/middleware.rs
  auth-service/src/soar/core/types.rs
  auth-service/tests/pkce_oauth_test.rs
  benchmark-results/20250822_125310/auth-core_bench_results.json
  benchmark-results/20250822_125310/auth-service_bench_results.json
  benchmark-results/20250822_125310/load_test.sh
  benchmark-results/latest
  config/development/config.yaml
  docker-compose.dev.yml
  docs/security/ADVANCED_SECURITY_FEATURES.md
  scripts/check-all-packages.sh
  scripts/verify-deployment.sh
Owners: @your-org/engineering-leads, @your-org/devops, @your-org/rust-reviewers, @your-org/docs

📋 Add comprehensive achievement summary
  ACHIEVEMENT_SUMMARY.md
Owners: @your-org/docs

Add Security Fixes
  .github/workflows/security.yml
  auth-service/src/ai_threat_detection.rs
  auth-service/src/security.rs
  auth-service/src/security_tests.rs
  auth-service/src/soar_core/correlation.rs
  auth-service/src/soar_core/engine.rs
  auth-service/src/soar_core/integration.rs
  auth-service/src/soar_core/metrics.rs
  auth-service/src/soar_core/mod.rs
  auth-service/src/soar_core/response.rs
  auth-service/src/soar_core/types.rs
  auth-service/src/soar_core/types/playbook.rs
  auth-service/src/soar_core/workflow.rs
  auth-service/tests/pkce_oauth_test.rs
  auth-service/tests/security_features_test.rs
Owners: @your-org/devops, @your-org/rust-reviewers

🔧 Fix errors and warnings in errors.rs, security.rs, and related files
  COMPREHENSIVE_IMPROVEMENT_IMPLEMENTATION_PLAN.md
  TACTICAL_IMPLEMENTATION_GUIDE.md
  auth-core/tests/integration_security.rs
  auth-core/tests/oauth2_compliance.rs
  auth-service/src/ai_threat_detection.rs
  auth-service/src/circuit_breaker_advanced.rs
  auth-service/src/config_secure.rs
  auth-service/src/csrf_protection.rs
  auth-service/src/errors.rs
  auth-service/src/lib.rs
  auth-service/src/monitoring_dashboard.rs
  auth-service/src/performance_monitor.rs
  auth-service/src/performance_monitoring.rs
  auth-service/src/quantum_jwt.rs
  auth-service/src/rate_limit_enhanced.rs
  auth-service/src/rate_limit_secure.rs
  auth-service/src/security.rs
  auth-service/src/security_logging_enhanced.rs
  auth-service/src/security_tests.rs
  auth-service/src/soar_executors/case_management.rs
  auth-service/src/soar_executors/clients.rs
  auth-service/src/soar_executors/control_flow.rs
  auth-service/src/soar_executors/mod.rs
  auth-service/src/soar_executors/notification.rs
  auth-service/src/soar_executors/query.rs
  auth-service/src/soar_executors/registry.rs
  auth-service/src/soar_executors/script.rs
  auth-service/src/soar_executors/security.rs
  auth-service/src/validation_secure.rs
  justfile.enhanced
  k8s/deployments/auth-service.yaml
  k8s/monitoring/prometheus-config.yaml
  scripts/deploy-production.sh
  scripts/execute-week1-improvements.sh
  scripts/fix-unused-variables.sh
Owners: @your-org/docs, @your-org/rust-reviewers, @your-org/engineering-leads, @your-org/platform

Add Security Fixes
  IMMEDIATE_ACTION_PLAN.md
  auth-service/src/intelligent_cache.rs
  auth-service/src/lib.rs
  auth-service/src/performance_monitor.rs
  auth-service/src/performance_optimizer.rs
  auth-service/src/security_analyzer.rs
  auth-service/src/security_tests.rs
  k8s/production/auth-service-production.yaml
  monitoring/grafana/dashboards/rust-security-platform.json
Owners: @your-org/docs, @your-org/rust-reviewers, @your-org/platform, @your-org/engineering-leads

🚀 Add advanced production features to auth-service
  scripts/execute-week1-improvements.sh
Owners: @your-org/engineering-leads

Added recomended fixes
  scripts/final-cleanup.sh
Owners: @your-org/engineering-leads

Added recomended fixes
  auth-service/Cargo.toml
  auth-service/src/connection_pool_optimized.rs
  auth-service/src/database_optimized.rs
  auth-service/src/lib.rs
  auth-service/src/observability.rs
  auth-service/src/observability_advanced.rs
  auth-service/src/security_logging.rs
  auth-service/src/soar_case_management.rs
  auth-service/src/soar_core/metrics.rs
  auth-service/src/soar_core/mod.rs
  auth-service/src/soar_correlation.rs
  auth-service/src/soar_workflow.rs
  auth-service/src/threat_intelligence.rs
  auth-service/src/threat_response_orchestrator.rs
  auth-service/src/tls_security.rs
  common/src/config.rs
  common/src/lib.rs
  scripts/fix-async-traits.sh
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

Added recomended fixes
  auth-service/src/soar_correlation.rs
Owners: @your-org/rust-reviewers

Added recomended fixes
  auth-service/src/connection_pool_optimized.rs
  auth-service/src/database_optimized.rs
  auth-service/src/observability.rs
  auth-service/src/observability_advanced.rs
  auth-service/src/soar_workflow.rs
  auth-service/src/threat_behavioral_analyzer.rs
Owners: @your-org/rust-reviewers

Added recomended fixes
  auth-service/src/threat_user_profiler.rs
Owners: @your-org/rust-reviewers

.github/CODEOWNERS:

# Code ownership and default reviewers
# Syntax: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
*       @your-org/engineering-leads

# Rust code
*.rs    @your-org/rust-reviewers
/src/   @your-org/rust-reviewers
/auth-service/ @your-org/rust-reviewers
/policy-service/ @your-org/rust-reviewers

# GitHub workflows
/.github/workflows/ @your-org/devops

# Helm charts and k8s manifests
/helm/  @your-org/platform
/k8s/   @your-org/platform

# Documentation
/docs/  @your-org/docs
*.md    @your-org/docs

# Security policies and supply-chain
SECURITY.md @your-org/security
supply-chain-security.yml @your-org/security
/.github/workflows/supply-chain-security.yml @your-org/security
