Repository lsendel/rust-security, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/engineering-leads, @your-org/rust-reviewers, @your-org/devops, @your-org/platform, @your-org/docs, @your-org/security

.github/CODEOWNERS:

# Code ownership and default reviewers
# Syntax: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
*       @your-org/engineering-leads

# Rust code
*.rs    @your-org/rust-reviewers
/src/   @your-org/rust-reviewers
/auth-service/ @your-org/rust-reviewers
/policy-service/ @your-org/rust-reviewers

# GitHub workflows
/.github/workflows/ @your-org/devops

# Helm charts and k8s manifests
/helm/  @your-org/platform
/k8s/   @your-org/platform

# Documentation
/docs/  @your-org/docs
*.md    @your-org/docs

# Security policies and supply-chain
SECURITY.md @your-org/security
supply-chain-security.yml @your-org/security
/.github/workflows/supply-chain-security.yml @your-org/security

add gemini github actions
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
  Cargo.lock
  auth-service/Cargo.toml
  auth-service/src/backpressure.rs
  auth-service/src/lib.rs
  auth-service/src/main.rs
  auth-service/src/resilient_http.rs
  auth-service/src/resilient_store.rs
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/rust-reviewers

fix rust issues
  auth-service/src/backpressure.rs
  auth-service/src/resilient_http.rs
  auth-service/src/resilient_store.rs
Owners: @your-org/rust-reviewers

fix gemini agent
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
  auth-service/config/sample.env
  auth-service/docs/ARCHITECTURE.md
  auth-service/docs/SERVICE_CONTRACTS.md
  auth-service/src/advanced_rate_limit.rs
  auth-service/src/api_versioning.rs
  auth-service/src/config.rs
  auth-service/src/feature_flags.rs
  auth-service/src/redirect_validation.rs
  auth-service/tests/security/redirect_uri_security_tests.rs
Owners: @your-org/devops, @your-org/rust-reviewers, @your-org/docs

FIx issues
  auth-service/Cargo.toml
  auth-service/src/config.rs
  auth-service/src/errors.rs
  auth-service/src/lib.rs
  auth-service/src/main.rs
  auth-service/src/per_ip_rate_limit.rs
  auth-service/src/policy_cache.rs
  auth-service/src/redirect_validation.rs
  auth-service/src/resilient_http.rs
  auth-service/src/resilient_store.rs
  auth-service/src/secure_random.rs
  auth-service/src/session_cleanup.rs
  auth-service/src/token_store.rs
  auth-service/src/validation.rs
Owners: @your-org/rust-reviewers

Fix Gemini issues
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
  auth-service/src/config.rs
  auth-service/src/lib.rs
  auth-service/src/session_cleanup.rs
  auth-service/tests/admin_protection_it.rs
  auth-service/tests/authorization_it.rs
  auth-service/tests/comprehensive_integration_test.rs
  auth-service/tests/health_introspect_it.rs
  auth-service/tests/oidc_state_it.rs
  auth-service/tests/openid_metadata_it.rs
  auth-service/tests/pkce_oauth_test.rs
  auth-service/tests/refresh_reuse_it.rs
  auth-service/tests/request_id_it.rs
  auth-service/tests/scim_basic_auth_it.rs
  auth-service/tests/scim_it.rs
  auth-service/tests/scope_validation_test.rs
  auth-service/tests/security_features_test.rs
  auth-service/tests/security_test.rs
  auth-service/tests/step_up_it.rs
  auth-service/tests/test_utils.rs
  auth-service/tests/token_basic_auth_it.rs
  auth-service/tests/token_binding_it.rs
  auth-service/tests/token_flow_it.rs
  auth-service/tests/token_refresh_it.rs
  auth-service/tests/totp_it.rs
Owners: @your-org/devops, @your-org/rust-reviewers

Fix Gemini issues
  auth-service/src/auth_failure_logging.rs
  auth-service/src/client_auth.rs
  auth-service/src/key_management.rs
  auth-service/src/lib.rs
  auth-service/src/mfa.rs
  auth-service/src/oidc_google.rs
  auth-service/src/per_ip_rate_limit.rs
  auth-service/src/post_quantum_crypto.rs
  auth-service/src/pq_integration.rs
  auth-service/src/pq_key_management.rs
  auth-service/src/pq_migration.rs
  auth-service/src/security_logging.rs
  auth-service/src/session_manager.rs
  auth-service/tests/security_features_test.rs
Owners: @your-org/rust-reviewers

Contunue
  auth-service/src/admin_middleware.rs
  auth-service/src/auth_failure_logging.rs
  auth-service/src/client_auth.rs
  auth-service/src/errors.rs
  auth-service/src/key_management.rs
  auth-service/src/lib.rs
  auth-service/src/mfa.rs
  auth-service/src/oidc_google.rs
  auth-service/src/pii_audit_tests.rs
  auth-service/src/pii_protection.rs
  auth-service/src/pq_jwt.rs
  auth-service/src/resilient_store.rs
  auth-service/src/scim.rs
  auth-service/src/scim_rbac.rs
  auth-service/src/security_logging.rs
  auth-service/src/session_manager.rs
  auth-service/src/soar_executors.rs
Owners: @your-org/rust-reviewers

Contunue
  auth-service/.gitignore
  auth-service/src/admin_middleware.rs
  auth-service/src/auth_failure_logging.rs
  auth-service/src/key_management.rs
  auth-service/src/lib.rs
  auth-service/src/main.rs
  auth-service/src/mfa.rs
  auth-service/src/oidc_google.rs
  auth-service/src/per_ip_rate_limit.rs
  auth-service/src/scim_rbac.rs
  auth-service/src/security_logging.rs
  auth-service/src/session_cleanup.rs
  auth-service/src/session_manager.rs
Owners: @your-org/rust-reviewers

Fix compilation errors in auth-service
  Cargo.lock
  auth-service/src/lib.rs
  auth-service/src/mfa.rs
  auth-service/src/store.rs
  red-team-exercises/Cargo.toml
  tests/Cargo.toml
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Complete auth-service implementation and documentation
  .github/workflows/rust-ci.yml
  auth-service/IMPLEMENTATION_STATUS.md
  auth-service/test_endpoints.sh
  docs/IMPROVEMENTS.md
Owners: @your-org/devops, @your-org/docs, @your-org/rust-reviewers

check issues
  auth-service/Cargo.toml
  red-team-exercises/Cargo.toml
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

Fix test
  .clippy.toml
  .junie/guidelines.md
  Cargo.lock
  Cargo.toml
  auth-service/src/soar_core.rs
  auth-service/src/soar_executors.rs
  auth-service/src/soar_workflow.rs
  auth-service/src/threat_intelligence.rs
  compliance-tools/Cargo.toml
  compliance-tools/src/bin/security_metrics_collector.rs
  compliance-tools/src/bin/security_metrics_collector/tests.rs
  compliance-tools/src/lib.rs
  compliance-tools/src/metrics.rs
  compliance-tools/tests/unit_tests.rs
  red-team-exercises/Cargo.toml
  red-team-exercises/security-dashboard/src/components/alerts/real-time-alerts.tsx
  red-team-exercises/src/attack_framework.rs
  red-team-exercises/src/reporting.rs
  red-team-exercises/src/scenarios/authentication.rs
  red-team-exercises/src/scenarios/idor_attacks.rs
  red-team-exercises/src/scenarios/mfa_bypass.rs
  red-team-exercises/src/scenarios/rate_limit_bypass.rs
  red-team-exercises/src/scenarios/social_engineering.rs
  red-team-exercises/src/scenarios/token_manipulation.rs
  red-team-exercises/src/validation.rs
  red-team-exercises/tests/unit_tests.rs
  tests/integration_tests.rs
  tests/phase1_security_tests.rs
  tests/phase2_operational_tests.rs
  tests/regression_test_suite.rs
Owners: @your-org/engineering-leads, @your-org/docs, @your-org/rust-reviewers

fix: address security vulnerabilities across infrastructure and dependencies
  Cargo.lock
  Cargo.toml
  SECURITY.md
  auth-service/Cargo.toml
  common/Cargo.toml
  deny.toml
  examples/axum-integration-example/Cargo.toml
  k8s/auth-service.yaml
  k8s/policy-service.yaml
  k8s/redis.yaml
  red-team-exercises/Cargo.toml
  red-team-exercises/security-dashboard/python-dashboard/requirements.txt
Owners: @your-org/engineering-leads, @your-org/security, @your-org/rust-reviewers, @your-org/platform

feat: implement comprehensive security monitoring and documentation
  .github/workflows/security-audit.yml
  SECURITY_ASSESSMENT_REPORT.md
  deny.toml
  docs/INCIDENT_RESPONSE_PLAYBOOK.md
  docs/SECURITY_BEST_PRACTICES.md
Owners: @your-org/devops, @your-org/docs, @your-org/engineering-leads

feat: implement enterprise-grade security monitoring infrastructure
  SECURITY_IMPROVEMENTS_SUMMARY.md
  security-tools/dashboard/security-metrics.yaml
  security-tools/runtime-monitor/Cargo.toml
  security-tools/runtime-monitor/src/main.rs
  security-tools/security-tests/run-security-tests.sh
  security-tools/siem-integration/elastic-integration.yml
  security-tools/siem-integration/splunk-integration.conf
  security-tools/vulnerability-db/sync-vulndb.sh
Owners: @your-org/docs, @your-org/engineering-leads, @your-org/rust-reviewers

docs: complete enterprise security architecture documentation
  ENTERPRISE_SECURITY_ARCHITECTURE.md
Owners: @your-org/docs

Fix test
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
  security-platform/soar-engine/Cargo.toml
  security-platform/soar-engine/src/main.rs
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/rust-reviewers

Fox all finndings
  COMPREHENSIVE_SECURITY_COMPLETION.md
  security-platform/apt-detection/Cargo.toml
  security-platform/apt-detection/signatures/mitre-attack-mapping.json
  security-platform/apt-detection/src/main.rs
  security-platform/soc-platform/Cargo.toml
  security-platform/soc-platform/playbooks/malware-response.json
  security-platform/soc-platform/src/main.rs
  security-platform/threat-hunting/hunt-automation.py
  security-platform/threat-hunting/hunt-queries.sql
  security-platform/zero-trust/Cargo.toml
  security-platform/zero-trust/docker-compose.yml
  security-platform/zero-trust/policies/default-policies.json
  security-platform/zero-trust/src/main.rs
Owners: @your-org/docs, @your-org/engineering-leads, @your-org/rust-reviewers

Fix overview
  .github/dependabot.yml
  .github/workflows/dependency-update.yml
  Cargo.lock
  Cargo.toml
  auth-service/Cargo.toml
  auth-service/fuzz/Cargo.toml
  auth-service/fuzz/fuzz_targets/fuzz_config_parsing.rs
  auth-service/fuzz/fuzz_targets/fuzz_scim_filter.rs
  auth-service/src/config_endpoints.rs
  auth-service/src/config_reload.rs
  auth-service/src/lib.rs
  auth-service/src/main.rs
  docs/operations/configuration-reload.md
  docs/operations/resource-management.md
  docs/security/dependency-update-policy.md
  docs/security/external-secrets-setup.md
  docs/security/fuzz-testing-guide.md
  docs/security/threat-models/auth-service-threat-model.md
  helm/auth-service/templates/_helpers.tpl
  helm/auth-service/templates/external-secret.yaml
  helm/auth-service/templates/hpa.yaml
  helm/auth-service/templates/ingress.yaml
  helm/auth-service/templates/networkpolicy.yaml
  helm/auth-service/templates/pdb.yaml
  helm/auth-service/templates/secret-store.yaml
  helm/auth-service/templates/secret.yaml
  helm/auth-service/templates/service.yaml
  helm/auth-service/templates/serviceaccount.yaml
  helm/auth-service/values.yaml
  k8s/aws-external-secrets.yaml
  k8s/external-secrets-operator.yaml
  k8s/gcp-external-secrets.yaml
  k8s/sealed-secrets.yaml
  k8s/vault-external-secrets.yaml
  renovate.json
  scripts/security/external-secrets-migration.sh
  scripts/security/run_fuzzing.sh
Owners: @your-org/engineering-leads, @your-org/devops, @your-org/rust-reviewers, @your-org/docs, @your-org/platform

OAuth Client Registration (Tasks 10-12)
  auth-service/Cargo.toml
  auth-service/src/lib.rs
  auth-service/src/session_store.rs
  auth-service/src/sql_store.rs
  auth-service/src/store.rs
Owners: @your-org/rust-reviewers

Finish errors
  TESTING_GUIDE.md
  auth-core/Cargo.toml
  auth-core/benches/token_performance.rs
  auth-core/src/server.rs
  test-client.py
  test-server.sh
Owners: @your-org/docs, @your-org/engineering-leads, @your-org/rust-reviewers

Fix worflow
  .github/workflows/auth-core-simple.yml
  .github/workflows/auth-core-tests.yml.disabled
  .github/workflows/ci-cd-pipeline.yml.disabled
  .github/workflows/simple-ci.yml
  BASIC_TESTING_GUIDE.md
Owners: @your-org/devops, @your-org/docs

fix: apply rustfmt formatting to resolve CI/CD failures
  auth-core/benches/token_performance.rs
  auth-core/src/error.rs
  auth-core/src/handler/introspect.rs
  auth-core/src/server.rs
  auth-core/tests/property_tests.rs
  auth-core/tests/simple_tests.rs
Owners: @your-org/rust-reviewers

fix: update grype version to v0.98.0 in security workflow
  .github/workflows/security.yml
Owners: @your-org/devops

feat: add comprehensive formatting prevention measures
  .githooks/pre-commit
  .github/workflows/auto-format.yml
  .pre-commit-hooks.yaml
  .rustfmt.toml
  FORMATTING_GUIDE.md
  setup-git-hooks.sh
Owners: @your-org/engineering-leads, @your-org/devops, @your-org/docs

fix: use only stable rustfmt features to resolve CI formatting failures
  .rustfmt.toml
  auth-core/benches/token_performance.rs
  auth-core/src/error.rs
  auth-core/src/handler/introspect.rs
  auth-core/src/handler/token.rs
  auth-core/src/server.rs
  auth-core/src/store.rs
  auth-core/tests/property_tests.rs
  auth-core/tests/simple_tests.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

fix: comprehensive workflow fixes to resolve all CI/CD failures
  .github/workflows/security.yml
  auth-core/benches/token_performance.rs
  auth-core/src/handler/health.rs
  auth-core/src/handler/introspect.rs
  auth-core/src/handler/token.rs
  auth-core/src/lib.rs
  auth-core/src/store.rs
  auth-core/tests/property_tests.rs
  deny.toml
Owners: @your-org/devops, @your-org/rust-reviewers, @your-org/engineering-leads

Fix workspace configuration and Docker builds
  .github/workflows/security.yml
  Cargo.lock
  Cargo.toml
  auth-service/Cargo.toml
  auth-service/Dockerfile
  auth-service/src/main.rs
  policy-service/Dockerfile
  policy-service/src/lib.rs
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/rust-reviewers

Fix major security vulnerabilities in dependencies
  Cargo.lock
  Cargo.toml
  deny.toml
Owners: @your-org/engineering-leads

Re-enable auth-service lib target
  auth-service/Cargo.toml
Owners: @your-org/rust-reviewers

Fix E2E tests to build only required binaries
  .github/workflows/e2e-tests.yml
Owners: @your-org/devops

Fix Simple CI workflow to avoid auth-service lib compilation issues
  .github/workflows/simple-ci.yml
Owners: @your-org/devops

Fix additional dependency features for compilation
  Cargo.lock
  Cargo.toml
  auth-service/Cargo.toml
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Fix missing oauth_client_secret_rotation.rs file
  auth-service/src/oauth_client_secret_rotation.rs
Owners: @your-org/rust-reviewers

Add comprehensive validation workflow for CI/CD error prevention
  .github/workflows/comprehensive-validation.yml
Owners: @your-org/devops

Fix comprehensive validation workflow issues
  .github/workflows/comprehensive-validation.yml
Owners: @your-org/devops

Fix core compilation issues and security vulnerabilities
  Cargo.lock
  Cargo.toml
  auth-service/src/mfa.rs
  auth-service/src/mfa/service.rs
  auth-service/src/mfa/totp_enhanced.rs
  auth-service/src/mfa/webauthn.rs
  auth-service/src/resilient_http.rs
  auth-service/src/secure_random.rs
  auth-service/src/security_monitoring.rs
  auth-service/src/session_manager.rs
  auth-service/src/tracing_config.rs
  common/Cargo.toml
  deny.toml
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Fix GitHub Actions workflow failures across security pipelines
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
Owners: @your-org/devops

Fix critical security vulnerabilities identified by code scanning
  auth-service/src/circuit_breaker.rs
  auth-service/src/client_auth.rs
  auth-service/src/config.rs
  auth-service/src/keys_secure.rs
  auth-service/src/mfa.rs
  auth-service/src/mfa/service.rs
  auth-service/src/mfa/totp_enhanced.rs
  auth-service/src/mfa/webauthn.rs
  auth-service/src/secure_random.rs
  auth-service/src/security_metrics.rs
  auth-service/src/tracing_config.rs
Owners: @your-org/rust-reviewers

Fix high-severity security vulnerabilities and enhance protection
  auth-service/src/scim_filter.rs
  auth-service/src/security_headers.rs.backup
  auth-service/src/security_headers.rs.bak
  auth-service/src/security_metrics.rs.bak
  auth-service/src/validation.rs.backup
  auth-service/src/validation.rs.bak
Owners: @your-org/rust-reviewers
