Repository lsendel/rust-security, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/engineering-leads, @your-org/rust-reviewers, @your-org/devops, @your-org/platform, @your-org/docs, @your-org/security

Refactor policy violation handling; unify result variable usage for improved clarity
  FINAL_CLEAN_CODE_ANALYSIS.md
Owners: @your-org/docs

Add comprehensive clean code documentation and analysis tools; enhance code quality standards
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/clean-code-quality.yml
  .github/workflows/quality-monitoring.yml
  COMPREHENSIVE_CLEAN_CODE_COMPLETION.md
  DEVELOPMENT_GUIDELINES.md
  docs/architecture/ADR-001-clean-code-implementation.md
  docs/architecture/ADR-002-security-architecture.md
  docs/architecture/ADR-003-performance-optimization-patterns.md
  quality-monitoring/refactor-opportunities.md
  scripts/advanced-static-analysis.sh
  scripts/auto-refactor.sh
  scripts/quality-alerts.sh
  scripts/quality-dashboard.py
  scripts/quality-monitor.sh
  scripts/refactor-analyzer.py
Owners: @your-org/docs, @your-org/devops, @your-org/engineering-leads

Add modular structure for application layers; implement shared error handling and authentication handlers
  auth-service/src/admin_middleware.rs
  auth-service/src/admin_replay_protection.rs
  auth-service/src/backpressure.rs
  auth-service/src/circuit_breaker.rs
  auth-service/src/client_auth.rs
  auth-service/src/resilient_store.rs
  auth-service/src/service_identity.rs
  fix_syntax.py
Owners: @your-org/rust-reviewers, @your-org/engineering-leads

Fix unused chrono::Utc import and variable in token repository
  auth-service/src/domain/repositories/token_repository.rs
  auth-service/src/tests/property_tests.rs.disabled
Owners: @your-org/rust-reviewers

Fix compilation errors and major warnings
  auth-service/benches/performance_bench.rs
  auth-service/src/app/di.rs
  auth-service/src/backpressure.rs
  auth-service/src/domain/repositories/token_repository.rs
  auth-service/src/domain/repositories/user_repository.rs
  auth-service/src/handlers/auth.rs
  auth-service/src/infrastructure/crypto/crypto_optimized.rs
  auth-service/src/infrastructure/crypto/key_management.rs
  auth-service/src/security_tests.rs
  auth-service/src/services/auth_service.rs
  auth-service/src/services/token_service.rs
  auth-service/src/shared/time.rs
  auth-service/src/tests/integration_tests.rs
  auth-service/src/tests/mod.rs
  auth-service/src/tests/performance_tests.rs
  auth-service/src/tests/security_tests.rs
  auth-service/src/threat_processor.rs
  auth-service/src/threat_user_profiler/risk_assessment/engine.rs
Owners: @your-org/rust-reviewers

Fix remaining rayon import warning
  auth-service/src/handlers/auth.rs
  auth-service/src/infrastructure/crypto/crypto_optimized.rs
  auth-service/src/infrastructure/crypto/key_management.rs
  auth-service/src/services/auth_service.rs
  auth-service/src/shared/time.rs
  auth-service/src/tests/mod.rs
  auth-service/src/tests/performance_tests.rs
  auth-service/src/threat_user_profiler/risk_assessment/engine.rs
Owners: @your-org/rust-reviewers

Add `#[must_use]` annotations and improve code formatting across multiple files
  auth-service/tests/common.rs
Owners: @your-org/rust-reviewers

Refactor authorization code handling and improve test assertions
  auth-service/Cargo.toml
  auth-service/benches/performance_suite.rs
  auth-service/benches/threat_conversion_bench.rs
  auth-service/src/auth_api.rs
  auth-service/src/auth_service_integration.rs
  auth-service/src/domain/entities/user.rs
  auth-service/src/domain/repositories/session_repository.rs
  auth-service/src/domain/repositories/token_repository.rs
  auth-service/src/domain/repositories/user_repository.rs
  auth-service/src/domain/value_objects/email.rs
  auth-service/src/domain/value_objects/password_hash.rs
  auth-service/src/domain/value_objects/user_id.rs
  auth-service/src/graceful_shutdown.rs
  auth-service/src/infrastructure/crypto/key_management.rs
  auth-service/src/infrastructure/crypto/key_rotation.rs
  auth-service/src/infrastructure/crypto/keys_optimized.rs
  auth-service/src/infrastructure/crypto/keys_secure.rs
  auth-service/src/infrastructure/http/jwks_handler.rs
  auth-service/src/infrastructure/security/security_logging.rs
  auth-service/src/infrastructure/storage/session/cleanup.rs
  auth-service/src/infrastructure/storage/session/store.rs
  auth-service/src/infrastructure/storage/store/optimized.rs
  auth-service/src/middleware/security_enhanced.rs
  auth-service/src/shared/error_handler.rs
  auth-service/src/tests/integration_tests.rs
  auth-service/src/tests/mod.rs
  auth-service/src/tests/performance_tests.rs
  auth-service/src/threat_processor.rs
  auth-service/src/threat_user_profiler/risk_assessment/engine.rs
  auth-service/tests/comprehensive_integration_test.rs
  auth-service/tests/enhanced_property_tests.rs
  auth-service/tests/openapi_endpoints_test.rs
  auth-service/tests/performance_test_suite.rs
  auth-service/tests/test_utils.rs
Owners: @your-org/rust-reviewers

Refactor JWT handling to support JWKS manager and EdDSA algorithm
  auth-service/src/auth_api.rs
  auth-service/src/shared/crypto.rs
Owners: @your-org/rust-reviewers

Refactor JWT handling to support JWKS manager and EdDSA algorithm
  Cargo.lock
  Cargo.toml
  auth-service/Cargo.toml
  auth-service/src/app/di.rs
  auth-service/src/auth_api.rs
  auth-service/src/domain/value_objects/email.rs
  auth-service/src/domain/value_objects/password_hash.rs
  auth-service/src/domain/value_objects/scope.rs
  auth-service/src/domain/value_objects/user_id.rs
  auth-service/src/handlers/auth.rs
  auth-service/src/infrastructure/crypto/crypto_optimized.rs
  auth-service/src/infrastructure/crypto/crypto_secure.rs
  auth-service/src/infrastructure/crypto/jwks_rotation.rs
  auth-service/src/metrics.rs
  auth-service/src/modules/code_review/mod.rs
  auth-service/src/modules/monitoring/metrics.rs
  auth-service/src/modules/quality_gates/mod.rs
  auth-service/src/modules/quality_gates/pipeline.rs
  auth-service/src/saml_service.rs
  auth-service/src/soar_correlation.rs
  auth-service/src/threat_behavioral_analyzer.rs
  auth-service/src/threat_user_profiler/risk_assessment/engine.rs
  compliance-tools/Cargo.toml
  compliance-tools/src/metrics.rs
Owners: @your-org/engineering-leads, @your-org/rust-reviewers

Refactor cleanup scheduler and migration handling for improved clarity and efficiency
  auth-service/src/infrastructure/storage/session/cleanup.rs
  auth-service/src/infrastructure/storage/session/manager.rs
  auth-service/src/infrastructure/storage/store/sql.rs
  auth-service/src/metrics.rs
  auth-service/src/threat_hunting_orchestrator.rs
  auth-service/src/threat_intelligence.rs
  auth-service/src/threat_response_orchestrator.rs
Owners: @your-org/rust-reviewers

Refactor cleanup scheduler and migration handling for improved clarity and efficiency
  auth-service/benches/performance_bench.rs
  auth-service/benches/threat_conversion_bench.rs
  auth-service/clippy_output.txt
  auth-service/src/ai_threat_detection.rs
  auth-service/src/auth_api.rs
  auth-service/src/circuit_breaker.rs
  auth-service/src/client_auth.rs
  auth-service/src/connection_pool_optimized.rs
  auth-service/src/domain/repositories/session_repository.rs
  auth-service/src/domain/repositories/token_repository.rs
  auth-service/src/domain/value_objects/password_hash.rs
  auth-service/src/features/mfa/webauthn.rs
  auth-service/src/health_check.rs
  auth-service/src/infrastructure/crypto/crypto_optimized.rs
  auth-service/src/infrastructure/crypto/key_management.rs
  auth-service/src/infrastructure/crypto/key_rotation.rs
  auth-service/src/infrastructure/crypto/keys_optimized.rs
  auth-service/src/infrastructure/crypto/keys_ring.rs
  auth-service/src/infrastructure/crypto/keys_secure.rs
  auth-service/src/infrastructure/database/connection_pool.rs
  auth-service/src/infrastructure/monitoring/observability.rs
  auth-service/src/infrastructure/monitoring/tracing_config.rs
  auth-service/src/infrastructure/storage/cache/basic_cache.rs
  auth-service/src/infrastructure/storage/session/secure.rs
  auth-service/src/middleware/security_enhanced.rs
  auth-service/src/pii_protection.rs
  auth-service/src/rate_limit_secure.rs
  auth-service/src/redirect_validation.rs
  auth-service/src/shared/error_handler.rs
  auth-service/src/threat_behavioral_analyzer.rs
  auth-service/src/threat_hunting_orchestrator.rs
  auth-service/src/threat_user_profiler/ml_models/manager.rs
  auth-service/src/threat_user_profiler/profiler.rs
  auth-service/src/threat_user_profiler/risk_assessment/engine.rs
  auth-service/tests/enhanced_property_tests.rs
  compliance-tools/src/metrics.rs
Owners: @your-org/rust-reviewers

Refactor JWT token handling to remove unnecessary async/await and improve code clarity
  auth-service/src/auth_api.rs
  auth-service/src/infrastructure/crypto/crypto_optimized.rs
  auth-service/src/infrastructure/crypto/crypto_secure.rs
  auth-service/src/infrastructure/crypto/jwks_rotation.rs
  auth-service/src/infrastructure/crypto/key_management.rs
  auth-service/src/infrastructure/crypto/key_rotation.rs
  auth-service/src/infrastructure/crypto/keys_optimized.rs
  auth-service/src/infrastructure/storage/cache/intelligent_cache.rs
  auth-service/src/metrics.rs
  auth-service/src/non_human_monitoring.rs
  auth-service/src/shared/error.rs
  auth-service/src/threat_attack_patterns.rs
  auth-service/src/threat_behavioral_analyzer.rs
Owners: @your-org/rust-reviewers

Implement unified security configuration system
  auth-service/Cargo.toml
  common/Cargo.toml
  common/src/lib.rs
  common/src/optimized_pools.rs
  common/src/secure_logging.rs
  common/src/security/config.rs
  common/src/security/defaults.rs
  common/src/security/mod.rs
  common/src/security/validation.rs
  mvp-oauth-service/src/main.rs
  mvp-tools/Cargo.toml
  mvp-tools/api-contracts/Cargo.toml
  mvp-tools/api-contracts/README.md
  mvp-tools/auth-core/Cargo.toml
  mvp-tools/auth-core/tests/integration_security.rs
  mvp-tools/auth-core/tests/integration_security.rs.disabled
  mvp-tools/auth-core/tests/oauth2_compliance.rs
  mvp-tools/auth-core/tests/oauth2_compliance.rs.disabled
  mvp-tools/auth-core/tests/security_tests.rs.disabled
  mvp-tools/examples/simple_security_test.rs
  mvp-tools/examples/test_cedar_api.rs
  mvp-tools/examples/test_security_modules.rs
  mvp-tools/input-validation/Cargo.toml
  mvp-tools/security-testing/Cargo.toml
  mvp-tools/src/lib.rs
  mvp-tools/tests/Cargo.toml
  mvp-tools/tests/phase1_security_tests.rs
  mvp-tools/tests/phase2_operational_tests.rs
  mvp-tools/tests/regression_test_suite.rs
  mvp-tools/tests/warning_free_integration_test.rs
  scripts/deduplication/migrate_security_config.sh
Owners: @your-org/rust-reviewers, @your-org/engineering-leads, @your-org/docs

Refactor CI/CD configuration and enhance testing workflows
  .github/workflows/comprehensive-testing.yml
  .github/workflows/deployment.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
  auth-service/src/security_tests.rs
  verify_fixes.sh
Owners: @your-org/devops, @your-org/engineering-leads, @your-org/rust-reviewers

.github/CODEOWNERS:

# Code ownership and default reviewers
# Syntax: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
*       @your-org/engineering-leads

# Rust code
*.rs    @your-org/rust-reviewers
/src/   @your-org/rust-reviewers
/auth-service/ @your-org/rust-reviewers
/policy-service/ @your-org/rust-reviewers

# GitHub workflows
/.github/workflows/ @your-org/devops

# Helm charts and k8s manifests
/helm/  @your-org/platform
/k8s/   @your-org/platform

# Documentation
/docs/  @your-org/docs
*.md    @your-org/docs

# Security policies and supply-chain
SECURITY.md @your-org/security
supply-chain-security.yml @your-org/security
/.github/workflows/supply-chain-security.yml @your-org/security
